.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 500;
}

.navButton {
  color: #003580;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}
